<aside
  class="speaker-card {% if include.column %} {{ include.column }}{% endif %}"
>
  <header>
    <table
      width="100%"
      border="0"
      cellpadding="5px 5px 5px 5px;"
      style="background-color: #dbe9f4;"
      class="fixed"
    >
      <tr>
        <col width="220px" />
        <!-- 40%: 220/550-->
        <col width="330px" />
        <!-- 60%: 330/550-->

        <td
          align="center"
          valign="top"
          width="40%"
          height="260px"
          style="padding-top: 15px;"
        >
          <!-- <h3>{{ include.data.name }}</h3> -->

          {% if include.data.homepage %}
          <a href="{{ include.data.homepage }}">
            <img
              src="/img/speakers/{{ include.data.image }}"
              style="
                border: 2px solid #004777;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
              "
              class="responsive"
          /></a>

          {% else %}
          <img
            src="/img/speakers/{{ include.data.image }}"
            style="
              border: 2px solid #004777;
              width: 200px;
              height: 200px;
              border-radius: 50%;
              object-fit: cover;
            "
            class="responsive"
          />
          {% endif %}
        </td>

        <td
          align="left"
          valign="top"
          width="60%"
          height="260px"
          style="padding-top: 40px; padding-left: 20px;"
        >
          <h4 style="font-family: monospace;">
            {{ include.data.name }} {% if include.data.twitter %}
            <a href="{{ include.data.twitter }}">
              <i class="fab fa-twitter" style="color: #38a1f3;"></i>
            </a>
            {% endif %} {% if include.data.git %}
            <a href="{{ include.data.git }}">
              <i class="fab fa-github" style="color: #333;"></i
            ></a>
            {% endif %} {% if include.data.researchgate %}
            <a href="{{ include.data.researchgate }}">
              <i class="fab fa-researchgate" style="color: #00d0af;"></i></a
            >{% endif %}
          </h4>

          <h6>
            {{ include.data.affiliation }}
          </h6>
          {% if include.data.city %}
          <h6>
            <i class="fas fa-map-marker-alt" style="color: red;"></i>
            {{ include.data.city }}
          </h6>
          {% endif %}
        </td>
      </tr>
    </table>
  </header>
</aside>
