<section
  class="container {% if include.column %} {{ include.column }}{% endif %}"
>
  <div class="level"></div>
  <table
    cellpadding="20px"
    style="background-color: #dbe9f4;"
  >
    <tr>
      <td 
      height="300px" 
      style=
      "width:40%; 
      text-align:center;
      vertical-align:middle">
        <!-- <h3>{{ include.data.name }}</h3> -->

        {% if include.data.homepage %}
        <a href="{{ include.data.homepage }}">
          <img
            src="/img/speakers/{{ include.data.image }}"
            style="
              border: 2px solid #004777;
              height: auto;
              width: 250px;
              border-radius: 50%;
            "
        /></a>

        {% else %}
        <img
          src="/img/speakers/{{ include.data.image }}"
          style="
            border: 2px solid #004777;
            height: auto;
            width: 250px;
            border-radius: 50%;
          "
        />
        {% endif %}
      </td>

      <td 
      height="300px" 
      style=
      "width:60%; 
      text-align:left;
      vertical-align:middle">

        <h4 style="font-family: monospace;">
          {{ include.data.name }} 
        </h4>

        <h4>
        {% if include.data.twitter %}
          <a href="{{ include.data.twitter }}">
            <i class="fab fa-twitter" style="color: #38a1f3;"></i>
          </a>
          {% endif %} {% if include.data.git %}
          <a href="{{ include.data.git }}">
            <i class="fab fa-github" style="color: #333;"></i
          ></a>
          {% endif %} {% if include.data.researchgate %}
          <a href="{{ include.data.researchgate }}">
            <i class="fab fa-researchgate" style="color: #00d0af;"></i></a
          >{% endif %}
        </h4>

        {% for item in include.data.affiliation %}
        <p>
          <i
            class="fas fa-circle" style="color: black;"></i>
          {{ item }}
        </p>
        {% endfor %} 
        
        {% if include.data.city %}
        <h6>
          <i class="fas fa-map-marker-alt" style="color: red;"></i>
          {{ include.data.city }}
        </h6>
        {% endif %}

      </td>
    </tr>
  </table>
</section>
