<html>
  <body>
    <section id="team" class="team">
      <div class="container">
        <a name="top"></a>

        <h1 class="title">Organizing committee</h1>

        {% for teamMember in site.data.team %}

        <div class="tile is-ancestor is-vertical is-6">
          <div class="tile is-parent">
            <!-- <a name=teamMember.linkName></a> -->
            {% include speaker-card.html data=teamMember%}
          </div>

          <div class="tile is-child">
            <hr class="dropdown-divider" />
          </div>

          <div class="tile is-child">
            <button class="accordion">
              <i class="fas fa-id-card bio-button"></i>
              &nbsp;&nbsp;Bio
            </button>

            <div class="panel">
              <p align="justify">
                {{ teamMember.bio }}
              </p>
            </div>
          </div>
        </div>

        {% endfor %}

        <img src="../assets/ext_images/post_separator.png" alt="text" />

        <h1 class="title">Advisors</h1>

        {% for advisor in site.data.advisors %}

        <div class="tile is-ancestor is-vertical is-6">
          <div class="tile is-parent">
            <!-- <a name=teamMember.linkName></a> -->
            {% include speaker-card.html data=advisor%}
          </div>

          <div class="tile is-child">
            <hr class="dropdown-divider" />
          </div>

          <div class="tile is-child">
            <button class="accordion">
              <i class="fas fa-id-card bio-button"></i>
              &nbsp;&nbsp;Bio
            </button>

            <div class="panel">
              <p align="justify">
                {{ advisor.bio }}
              </p>
            </div>
          </div>
        </div>

        {% endfor %}

        <img src="../assets/ext_images/post_separator.png" alt="text" />
        <br />
        <a href="../page-team#top"
          ><i
            class="fas fa-arrow-alt-circle-up"
            style="
              position: relative;
              top: -3px;
              text-indent: 0px;
              vertical-align: middle;
              color: #004777;
            "
          ></i
        ></a>
      </div>
    </section>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
          this.classList.toggle("active");

          /* Toggle between hiding and showing the active panel */
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
