<html>
  <body>
    <section>
      <div class="container is-fluid">
        <h2 class="title" style="color: #004777">Organizing committee</h2>

        <div class="tile is-ancestor person">
          {% for loop in (0..1) %}
          <div class="tile is-vertical is-parent">
            <!-- switch column: nr = '4' and limit: 4 are hardcoded => to improve -->
            {% if loop == 0 %}{% assign nr = '0' %}{% else %}{% assign nr = '4'
            %}{% endif %} {% for teamMember in include.this_year_team limit: 4
            offset: nr %}
            <div class="tile is-child box">
              <div class="tile is-child">
                <!-- <a name=teamMember.linkName></a> -->
                {% include speaker-card.html data=teamMember%}
              </div>

              <div class="tile is-child">
                <button class="accordion">
                  <i class="fas fa-id-card"></i>
                  &nbsp;&nbsp;Bio
                </button>

                <div class="panel">
                  <p>{{ teamMember.bio }}</p>
                </div>
              </div>
            </div>

            <!-- Switch column -->
            <!-- TODO: The 3 here is hard coded and should improved -->
            <!-- {% if forloop.index == 3 %}
              </div>
             <div class="tile is-vertical is-6 is-parent">
            {% endif %}  -->

            {% endfor %}
          </div>
          {% endfor %}
        </div>

        <img
          class="img-separator"
          src="{{ site.baseurl }}/assets/ext_images/2020/post_separator.png"
          alt="horizontal separator"
        /><br />

        <a href="#"
          ><i
            class="fas fa-arrow-alt-circle-up"
            style="
              position: relative;
              top: -3px;
              text-indent: 0px;
              vertical-align: middle;
              color: #004777;
            "
          ></i>
        </a>
        <br /><br />
      </div>
    </section>

    <section>
      <div class="container is-fluid">
        <h2 class="title" style="color: #004777">Advisors</h2>

        <div class="tile is-ancestor person">
          {% for loop in (0..1) %}
          <div class="tile is-vertical is-parent">
            <!-- https://gist.github.com/JJediny/a466eed62cee30ad45e2 -->
            <!-- switch column: nr = '2' and limit: 2 are hardcoded => to improve -->
            {% if loop == 0 %}{% assign nr = '0' %}{% else %}{% assign nr = '2'
            %}{% endif %} {% for advisor in include.this_year_advisors limit: 2
            offset: nr %}

            <div class="tile is-child box">
              <div class="tile is-child">
                <!-- <a name=teamMember.linkName></a> -->
                {% include speaker-card.html data=advisor%}
              </div>

              <div class="tile is-child">
                <button class="accordion">
                  <i class="fas fa-id-card"></i>
                  &nbsp;&nbsp;Bio
                </button>

                <div class="panel">
                  <p>{{ advisor.bio }}</p>
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
          {% endfor %}
        </div>

        <img
          class="img-separator"
          src="{{ site.baseurl }}/assets/ext_images/2020/post_separator.png"
          alt="horizontal separator"
        /><br />

        <a href="#"
          ><i
            class="fas fa-arrow-alt-circle-up"
            style="
              position: relative;
              top: -3px;
              text-indent: 0px;
              vertical-align: middle;
              color: #004777;
            "
          ></i
        ></a>
      </div>
    </section>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
          this.classList.toggle("active");

          /* Toggle between hiding and showing the active panel */
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
