speaker-card {
  .responsive {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
  }
  table.fixed {
    table-layout: fixed;
  }
  table.fixed td {
    overflow: hidden;
  }

  .fab{
    position: relative;
    top: -5px;
    text-indent: 0px;
    vertical-align: middle;
  }

}
